{% load static %}
<!Doctype HTML>
<html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/manual.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        
        <link rel='stylesheet' href='{% static "/css/responsive.css" %}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://unpkg.com/scrollreveal"></script>
    <title>FAQ - HACK_MAp 2K20</title>
</head>
<body>
    

    <div class="loader11">
        <div class="fullpage-wrapper">
            <div class="reactor-container">
              <div class="reactor-container-inner circle abs-center"></div>
              <div class="tunnel circle abs-center"></div>
              <div class="core-wrapper circle abs-center"></div>
              <div class="core-outer circle abs-center"></div>
              <div class="core-inner circle abs-center"></div>
              <div class="coil-container">
                <div class="coil coil-1"></div>
                <div class="coil coil-2"></div>
                <div class="coil coil-3"></div>
                <div class="coil coil-4"></div>
                <div class="coil coil-5"></div>
                <div class="coil coil-6"></div>
                <div class="coil coil-7"></div>
                <div class="coil coil-8"></div>
              </div>
            </div>
          </div>
          
        </div>          
          
    <div class="logo">
        <img src="{% static 'img/main.png' %}" id="logo" class="beforemenu" />
    </div>
    <div class="menu-bg">
        
        <div class="menu-container">
            <ul>
                
                <li class="menu-item">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                
                <li class="menu-item">
                    <a href="{% url 'home' %}#about">
                        About Us
                    </a>
                </li>
                
                <li class="menu-item">
                    <a href="{% url 'register' %}">
                        Register
                    </a>
                </li>
                
                <li class="menu-item">
                    <a href="{% url 'home' %}#benefits">
                        BENEFITS
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#">
                        FAQ
                    </a>
                </li>

                <li class="menu-item">
                    <a href="{% url 'home' %}#devs">
                        DEVELOPERS
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
    
    <nav>
        <a href="#menu"></a>
    </nav>

        <!-- FAQ section -->

        <div class="textfaq mx-5 my-5" style="color:white; font-size: 1.2em;">
            <h3 style="text-align: center; font-size: 1.8em;font-weight: bold;  ">HOW  TO APPLY?</h3>
            <hr class="bg-light" id="heading-hr">
            <ul>
              <li style="font-weight: bold;font-size: 1.3em;" id="faq">Joining GitHub</li>
              <ul><li>Go to github.com. Sign Up on GitHub. Choose a username (commonly referred to as GitHub handle)   for you, and voila! You’ve met the first requirement of being a part of Hack_MAp.</li></ul>
              <li style="font-weight: bold;font-size: 1.3em;" id="faq">Registering on Hack-MAp website</li>
              <ul><li>Go to the website of Hack_MAp . Navigate to the bottom of the page and find the form to Register. Fill in all your Details. Now, if you have created an account on GitHub, you have to name your repository same as your team name . Hoorah! You’re now in.</li></ul>
              <li style="font-weight: bold;font-size: 1.3em;" id="faq">Choosing a project</li>
              <ul><li>First of all, you can choose as many projects as you want. It’s not about doing everything on just one project, but solving as many real-Life issues as you can, contributing as much as you can.</li></ul>
              <li style="font-weight: bold;font-size: 1.3em;" id="faq">Writing documentation</li>
              <ul><li>The code that you have added must be documented thoroughly. Open Source is about writing code that humans can read and understand. Without documentation, it is so hard to read any code. Hence, add information in README, in the comments of code, etc.</li></ul>
              <li style="font-weight: bold;font-size: 1.3em;" id="faq">Wrapping up Report Submission</li>
              <ul>
                <li id="faq">At the end of the 43 days, you will have to create a report and share your github link to CSI JUET github page . Failing to do so, will not result in successful participation. The report can be as descriptive as you want, but must contain the following points :<br><ul> 
                <li id="faq">List of projects you worked on</li>
                <li id="faq">List of Pull Requests you created</li> 
                <li id="faq">Summary of your work</li></ul></li>
              </ul>


              <br /><hr style="border:2px solid white;width:100%;"> <br /><br />
              <h3 style="text-align: center;font-size: 1.8em;font-weight: bold;">Frequently Asked Questions</h3>
              <hr class="bg-light" id="heading-hr">
              <br>
              <ol>
                <li style="font-weight: bold;font-size: 1.3em;" id="faq">I am from first year how can I win against senior year?</li>
    
                <ul><li id="faq">There will be a separate winner from 1st year and 3 overall winners from combined years(all four). So relax and participate.</li></ul>
    
                <li style="font-weight: bold;font-size: 1.3em;" id="faq">What if someone copies a project and uploads it and win?</li>
    
                <ul><li id="faq">We will be evaluating your project solely based on the synopsis you submitted,
                  You have to create a readme file in your repository which shows how your project works along with some screenshots.
                And a copied project will easily be found on Internet 😊</li></ul>
    
    
                <li style="font-weight: bold;font-size: 1.3em;" id="faq">Who will be evaluating our projects?</li>
                <ul><li id="faq">The Secretaries of OSDG and Development Group will be evaluating the projects.</li></ul>
    
                <li style="font-weight: bold;font-size: 1.3em;" id="faq">
                    Why Should I Participate?
                </li>
                <ul>
                <li id="faq">An absolutely amazing working experience on projects</li>
                  <li id="faq">Acquiring new Skillsets</li>
                  <li id="faq">Building your network in campus and online</li>
                  <li id="faq">Sense of achievement</li>
                  <li id="faq">For the love of code, and open source</li>
                  <li id="faq">Last but not the least Cash prize , Certificate and a limited Edition T-Shirt.</li>
                </ul>
    
    
                <li style="font-weight: bold;font-size: 1.3em;" id="faq">Am I Good Enough?</li>
                <ul><li id="faq">If you have a  working laptop/computer with internet throughout the program you are good to GO!!!</li></ul>
                <br>
                <h4 style="text-align: center;font-size: 1.5em;font-weight: bold;">📞For any Other Queries send in your problem to the CSI JUET mail and we will get to you as soon as we can.</h4>
    
    
              </div>
            
    











              <script src="{% static 'js/jquey.js' %}"></script>
              <script src="{% static 'js/Tweenmax.js' %}"></script>
              <script src="{% static 'js/menu.js'  %}"></script>
              
              <script src="{% static 'js/manual.js' %}"></script>
             
              <script>
                setTimeout(function(){
                  $('.loader11').fadeToggle();
                }, 1500);
              </script>
</body>
</html>