{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="{% static 'css/manual.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        
		<link rel='stylesheet' href='{% static "/css/responsive.css" %}'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
	body{
		color:white;
	}
</style>
<title>Register Your Team - HACK_MAp 2K20</title>
</head>
<body>
	
	<div class="alert alert-success alert-dismissable">
		{% if messages %}
		{% for message in messages %}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        {% endfor %}
	{% endif %}
	  </div>

	  <div class="logo">
		<img src="{% static 'img/main.png' %}" id="logo" class="beforemenu" />
	</div>
	<br /><br />
	<div class="menu-bg">
		
		<div class="menu-container">
			<ul>
				
				<li class="menu-item">
					<a href="{% url 'home' %}" >
						Home
					</a>
				</li>
				
				<li class="menu-item">
					<a href="{% url 'home' %}#about">
						About Us
					</a>
				</li>
				
				<li class="menu-item">
					<a href="{% url 'register' %}">
						Register
					</a>
				</li>
				
				<li class="menu-item">
					<a href="{% url 'home' %}#benefits">
						BENEFITS
					</a>
				</li>

				<li class="menu-item">
					<a href="{% url 'faq' %}">
						FAQ
					</a>
				</li>

				<li class="menu-item">
					<a href="{% url 'home' %}#devs">
						DEVELOPERS
					</a>
				</li>
				
			</ul>
		</div>
	</div>
	
	
	<nav>
		<a href="#menu"></a>
	</nav>


	<div class="row w-100 text-center">
		<div class="col-md-12 text-center">
			<h3 class="text-center">Register Your Team</h3>
			<hr class="bg-light" id="heading-hr">
		</div>
	</div>
	<br /><br />

	<form method="POST" action="">
		<br>
		
		<div class="container-fluid">
			
			<div class="container">
				<b>
					
					{{form | crispy }}
					{% csrf_token %}
					<button class="btn">
						Register
					</button>
					
				</b>
				
			</div>
		</div>
	</form>
	<script src="{% static 'js/jquey.js' %}"></script>
	<script src="{% static 'js/menu.js'  %}"></script>
	<script src="{% static 'js/Tweenmax.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>