{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script>
            function detectmob() {
                if(window.innerWidth <= 974 || window.innerHeight <= 497) {
                    return true;
                } else {
                    return false;
                }
                }

                if (detectmob())
                {
                    alert("Use Desktop for better experiences!")
                }
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/counter.css' %}" />    
        <link rel="stylesheet" href="{% static 'css/manual.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <link rel='stylesheet' href='{% static "css/devs.css" %}'>
        <link rel='stylesheet' href='{% static "/css/responsive.css" %}'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://unpkg.com/scrollreveal"></script>
        
        <title>HACK_MAp 2020</title>
    </head>
    <body>



        <!-- LOADER -->

        

    <div class="loader11">
        <div class="fullpage-wrapper">
            <div class="reactor-container">
              <div class="reactor-container-inner circle abs-center"></div>
              <div class="tunnel circle abs-center"></div>
              <div class="core-wrapper circle abs-center"></div>
              <div class="core-outer circle abs-center"></div>
              <div class="core-inner circle abs-center"></div>
              <div class="coil-container">
                <div class="coil coil-1"></div>
                <div class="coil coil-2"></div>
                <div class="coil coil-3"></div>
                <div class="coil coil-4"></div>
                <div class="coil coil-5"></div>
                <div class="coil coil-6"></div>
                <div class="coil coil-7"></div>
                <div class="coil coil-8"></div>
              </div>
            </div>
          </div>
          
        </div>          
          




        <div class="logo">
            <img src="{% static 'img/main.png' %}" id="logo" class="beforemenu" />
        </div>
        <div class="menu-bg">
            
            <div class="menu-container">
                <ul>
                    
                    <li class="menu-item">
                        <a href="#home">
                            Home
                        </a>
                    </li>
                    
                    <li class="menu-item">
                        <a href="{% url 'home' %}#about">
                            About Us
                        </a>
                    </li>
                    
                    <li class="menu-item">
                        <a href="{% url 'register' %}">
                            Register
                        </a>
                    </li>
                    
                    <li class="menu-item">
                        <a href="{% url 'home' %}#benefits">
                            BENEFITS
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{% url 'faq' %}">
                            FAQ
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{% url 'home' %}#devs">
                            DEVELOPERS
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
        
        <nav>
            <a href="#menu"></a>
        </nav>

    <!-- SECTION 1 -->

    {% if messages %}
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}
    {% endif %}
    <div class="jumbotron" id="home">
    <div class="row w-100 h-100" id="main-jumbo">
            <div class="col-md-12 my-3 mx-auto float-left ">
                <div class="col-md-12 my-5">
                    <h1 class="main text-light display-2 text-center" id="main-text">HACK_MAp 2020</h1>
                </div>

                <div class="col-md-4 my-0" id="counter">        
                    <div id="countdown">
                        <h3 class="text-light">HACK_MAp starts in </h3>
                        <div id='tiles'></div>
                            <div class="row-md-3 bg-light">
                                <div class="labels">
                                    <li id="d">Days</li>
                                    <li id="d">Hours</li>
                                    <li id="d">Mins</li>
                                    <li id="d">Secs</li>
                                </div>
                            </div>
                        <img id='back' src='{% static "img/back.svg" %}'>
                    </div>
                </div>
            </div>  
    </div>
    </div>
    
    <!-- end of sec 1 -->

    <!-- 
            SECTION 2
     -->

     <div class="row w-100 h-100 my-5">
        <div class="row-md-12 my-3">
                <div class="col-md-4 h-25 mx-auto my-auto text-center">
                    <h2 id="about" class="about text-light text-center">ABOUT US</h2>
                    <hr class="bg-light" id="heading-hr">
                </div>
                <div class="col-md-6 my-2 ml-5 float-left">
                    
                    <p class="head-para my-5" id='para-text'>
                        HACK_MAp is a 1 month-long Event of open source software contribution run by OSDG and DEVELOPMENT CLUB in Tachyon techfest by Computer Society of India(CSI)

                        Technology students ! You're invited to participate in Hack_Map 20 a hackathon at the Jaypee University Of Engineering and Technology. At this 43 days, non-stop digital product development competition, you'll be challenged to use technologies such as Web Development , IoT, Cloud Computing, Image Processing, Big Data, Artificial Intelligence, Embedded Systems,Robotics,Game Development and more to design and build an innovative digital solution to any real-life problem of your choice.
                    </p>
                </div>
                <div class="col-md-2 mx-3 float-right">
                    <img src="{% static 'img/brainstorm.jpg' %}" id="about-img" class="float-right mr-2">
                </div>
               
         </div>
    </div>

<!-- BENEFITS -->
    <div class="row w-100 my-5">
        <div class="col-md-4 h-25 mx-auto my-auto text-center">
            <h2 id="div-heading" class="benefits text-light text-center">BENEFITS</h2>
            <hr class="bg-light" id="heading-hr">
        </div>   
    </div>  
    <div class="row w-100 h-100 mt-3 mx-5 mb-5">
        <div class="col-md-3 mx-3">
            <div class="card h-20" id="ex">
                <div class="card-body ">
                    <img src="{% static 'img/wrench.svg' %}">
                </div>
                <div class="card-footer text-center">
                    EXPERIENCE
                </div>
            </div>
        </div>

        <div class="col-md-3 mx-3">
            <div class="card h-20" id="cer">
                <div class="card-body p-5 text-center">
                    <img src="{% static 'img/certi.png' %}">
                </div>
                <div class="card-footer text-center">
                    CERTIFICATES
                </div>
            </div>
        </div>

        <div class="col-md-3 mx-3">
            <div class="card h-20" id="brief">
                <div class="card-body p-5 text-center">
                    <img src="{% static 'img/brief.svg' %}">
                    <!-- <i class="fab fa-tshirt"></i> -->
                </div>
                <div class="card-footer text-center">
                    T-SHIRTS AND GOODIES
                </div>
            </div>
        </div>
    </div>




<br /><br />

<!-- Dev section -->
    <div class="row w-100 h-100 my-5" id="devs">
        <div class="col-md-4 text-center mx-auto my-auto">
            <h2 id="div-heading" class="dev text-light text-center">Developers</h2>
            <hr class="bg-light" id="heading-hr">
        </div>
        <div class="col-md-12">
            <div class="developers">
                <div class="dev-card-container">
                  <div class="Cards-div">
                    <div class="des-card" id="dev1">
                        <img class="prof-pic" src='{% static "./img/richesh.jpeg" %}'></img>
                        <div class="name"><span>Richesh Gupta</span></div>
                        <div class="phone-no"><span>+91 8318889189</span></div>
                        <div class="email"><span>rgrichesh45@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                    <div class="des-card" id="dev2">
                        <img class="prof-pic" src='{% static "./img/satyam.jpg" %}'></img>
                        <div class="name"><span>Satyam Upadhyay</span></div>
                        <div class="phone-no"><span>+91 8810499445</span></div>
                        <div class="email"><span>satyamupadhyay20@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                    <div class="des-card" id="dev3">
                        <img class="prof-pic" src='{% static "img/harsh.jpg" %}'></img>
                        <div class="name"><span>Harsh Soni</span></div>
                        <div class="phone-no"><span>+91 7390912111</span></div>
                        <div class="email"><span>soniharsh441@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                    <div class="des-card" id="dev4">
                        <img class="prof-pic" src='{% static "img/pulkit.jpg" %}'></img>
                        <div class="name"><span>Pulkit Yadav</span></div>
                        <div class="phone-no"><span>+91 7080527386</span></div>
                        <div class="email"><span>pulkit29.yadav@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                    <div class="des-card" id="dev5">
                        <img class="prof-pic" src='{% static "img/ankit.jpeg" %}'></img>
                        <div class="name"><span>Ankit Singh</span></div>
                        <div class="phone-no"><span>+91 8579961909</span></div>
                        <div class="email"><span>soniharsh441@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                    <div class="des-card" id="dev6">
                        <img class="prof-pic" src='{% static "img/ishaan.png" %}'></img>
                        <div class="name"><span>Ishaan</span></div>
                        <div class="phone-no"><span>+91 8209691663</span></div>
                        <div class="email"><span>soniharsh441@gmail.com</span></div>
                        <div class="dash"></div>
                    </div>
                  </div>
                </div>
              </div>                
        </div>
    </div>

    <!-- FOOTER -->
    <div class="row my-5 w-100 bg-light" id="footer">
        <div class="col- w-100 text-center">
            <h1>Made With ❤️ BY CTH,JUET</h1>
        </div>        

    </div>
   
          <!-- JS FILES -->
          <script src="{% static 'js/jquey.js' %}"></script>

          <script src="{% static 'js/Tweenmax.js' %}"></script>
          <script src="{% static 'js/manual.js' %}"></script>
          <script src="{% static 'js/menu.js'  %}"></script>
          <script src="{% static 'js/counter.js' %}" ></script>
          
          <!-- <script>
                            
                $(window).load(function() {
                    $('.fullpage-wrapper').hide();
                });
                   
          </script> -->
          <script>
            setTimeout(function(){
              $('.loader11').fadeToggle();
            }, 1500);
          </script>
    </body>
</html>